################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Student-Performance-Analyzer/.vs/Student-Performance-Analyzer.slnx/FileContentIndex/bf41d7f7-1c40-483d-b229-459bf15734a0.vsidx
/Student-Performance-Analyzer/.vs/Student-Performance-Analyzer.slnx/FileContentIndex
